BODY
{
	background-image : none;
	font-family : Arial;
	font-size : 12px;
	background-color : transparent
}

.nof_GlasgowTealSilverBanners1-Default
{
	font-family : verdana;
	font-size: 24px;
	font-weight : 700;
	font-style : normal;
	color : #008faf
}

.nof_GlasgowTealSilverNavbar4-Regular
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 400;
	font-style : normal;
	color : #008faf
}

.nof_GlasgowTealSilverNavbar5-Rollover
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #008faf
}

.nof_GlasgowTealSilverNavbar6-Highlighted
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #535251
}

.nof_GlasgowTealSilverNavbar7-HighlightedRollover
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #535251
}

.nof_GlasgowTealSilverNavbar9-Regular
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 400;
	font-style : normal;
	color : #008faf
}

.nof_GlasgowTealSilverNavbar10-Rollover
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #008faf
}

.nof_GlasgowTealSilverNavbar11-Highlighted
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #535251
}

.nof_GlasgowTealSilverNavbar12-HighlightedRollover
{
	font-family : Trebuchet MS ;
	font-size: 11px;
	font-weight : 700;
	font-style : normal;
	color : #535251
}

p{	font-size : 12px;
	font-family : Arial
}
.TextObject{	font-family : Arial;
	font-size : 12px
}
A{	font-size : 11px;
	text-decoration : none;
	color : rgb(40,110,160);
	font-weight : bold;
	font-family : Verdana
}
A:visited{	font-size : 11px;
	text-decoration : none;
	color : rgb(40,110,160);
	font-weight : bold;
	font-family : Verdana
}
A:active{	font-size : 11px;
	text-decoration : none;
	color : rgb(40,110,160);
	font-weight : bold;
	font-family : Verdana
}
A:hover{	font-size : 11px;
	text-decoration : none;
	color : rgb(40,110,160);
	font-weight : bold;
	font-family : Verdana
}
