AuthUserFile /etc/httpd/htpasswd
AuthName "Munin Graphs"
AuthType Basic
require valid-user
#
# Generate Password with:
#
# htpasswd -c /etc/httpd/htpasswd root
#
# Then, specify the password in reply to the dialog.
#
#
#
#
#
#<IfModule mod_ssl.c>
#SSLRequireSSL
#</IfModule>
#<IfModule !mod_ssl.c>
## no non-ssl access
#order allow,deny
#</IfModule>
